@model ChallengeBoard.Web.ViewModels.BoardViewModel

<header class="header">
    <div class="header__user">
        @Model.Board.UserName
        @if (Model.IsAuthenticated) {
            <span class="header__user__signedin"></span>
        }

    </div>
    <strong class="header__score" id="intro-score">@Model.TotalPoints</strong>
    <div class="header__actions">
        <button class="header__actions__icon" id="leaderboard-toggle">
            <span class="icon icon-star"></span>
        </button>
        <button class="header__actions__icon" id="notifications-toggle">
            <span class="icon icon-bell"></span>
        </button>      
    </div>    
</header>
<div class="cards" id="Cards" data-board="@Model.Board.BoardName" data-boardid="@Model.Board.Id">        
    @foreach (var card in Model.Cards) {
        <div class="item card@(card.Selected ? " card--complete" : string.Empty)@(card.Card.Single ? " card--single" : string.Empty)" role="button" data-id="@card.Card.Id" data-points="@card.Card.Points">
            <div class="card-background"></div>
            <div class="card-body">
                <div class="card-icon">
                    <div class="card-icon-inner">
                        <span class="icon icon-@card.Card.Category.ToString().ToLower()" aria-hidden="true"></span>
                        <span class="icon icon-check" aria-hidden="true"></span>                        
                    </div>
                    <span class="card-icon-ring"></span>
                </div>
                <strong class="card-heading">@card.Card.Text</strong>
                @if (!card.Card.Single) {
                    <strong class="card-count"><span class="card-count--subtr">-</span> <span class="card-count--number">@card.NumberOfCompletions</span> <span class="card-count--add">+</span></strong>
                }
                <footer class="card-meta">@card.Card.Points poäng</footer>
            </div>
        </div>
    }
</div>
<div class="notifications hidden" id="history-feed">
    <ul>
        @if (Model.Board.BoardActivityList.Any()) {
            foreach (var activity in Model.Board.BoardActivityList) {
                <li>
                    <strong class="notifications__time">@activity.TimeStamp</strong>
                    <p class="notifications__text">@activity.Name</p>
                </li>
            }
        }
    </ul>
</div>
<div id="user-hide">@Model.Board.UserName</div>